.galeria-imagens img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}
.gallery-container {
    width: auto;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    min-height: 300px;
    align-items: center;
    background-color: white;
}
.gallery-title {

    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;

    font-family: "Segoe UI";
    font-size: 42px;
    font-weight: bold;
}

.image-thumbnail {
    width: 260px;
    height: auto;
    border-radius: 10px;
}