<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">

    <style>
        .galeria-imagens img {
            max-width: 100%;
            height: 350px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
        .gallery-container {
            width: auto;
            margin-bottom: 10px;
            min-height: 300px;
            align-items: center;
            background-color: #f4f4f4;
        }
        .gallery-title {
            padding: 10px;
            text-align: center;
            margin-left: 10px;
            margin-bottom: 10px;

            /*border-top: 1px solid #333;*/
            /*border-bottom: 1px solid #333;*/
            /*border-left: 1px solid #333;*/
            /*border-right: 1px solid #333;*/

            font-family: Bodoni MT;
            font-size: 42px;
            font-weight: bold;
            border-radius: 50px;
            outline: 2px solid #ccc;
            color: #555555;
        }

        .image-thumbnail {
            width: 260px;
            height: auto;
            border-radius: 10px;
        }
        body{
            background-color: white;
        }

    </style>

    <script>
        async function carregarGaleriasUsuario() {
            const response = await fetch('/api/galleryList');
            const galeriasUsuario = await response.json();

            const dropdown = document.getElementById('galeriaDropdown');

            galeriasUsuario.forEach(galeria => {
                const option = document.createElement('option');
                option.value = galeria.id;
                option.textContent = galeria.title;
                dropdown.appendChild(option);
            });
        }

        carregarGaleriasUsuario();

        function showSection(sectionId) {
            var sections = document.querySelectorAll('.content-section');
            sections.forEach(function(section) {
                section.style.display = 'none';
            });
            var selectedSection = document.getElementById(sectionId);
            selectedSection.style.display = 'block';
        }

        document.addEventListener('DOMContentLoaded', function() {
            var btnCadastrarFoto = document.getElementById('btnCadastrarFoto');
            btnCadastrarFoto.addEventListener('click', function() {
            });
        });
        document.addEventListener('DOMContentLoaded', function() {
            var btnCadastrarFoto = document.getElementById('btnCadastrarFoto');
            var modal = document.getElementById('modal');

            btnCadastrarFoto.addEventListener('click', function() {
                modal.classList.remove('hidden');
            });

            modal.addEventListener('click', function(event) {
                if (event.target === modal) {
                    modal.classList.add('hidden');
                }
            });
        });

        async function carregarGalerias() {
            const response = await fetch('/api/galleryList');
            const galerias = await response.json();

            const galeriasDiv = document.getElementById('galerias');
            galeriasDiv.innerHTML = '';

            for (const galeria of galerias) {
                const galeriaContainer = document.createElement('div');
                galeriaContainer.classList.add('gallery-container', 'border', 'border-gray-500', 'p-4', 'rounded-lg', 'mb-4', 'flex', 'flex-col');

                const galeriaTitle = document.createElement('div');
                galeriaTitle.textContent = galeria.title;
                galeriaTitle.classList.add('gallery-title', 'text-lg', 'font-semibold', 'mb-2', 'text-center');
                galeriaContainer.appendChild(galeriaTitle);

                const imagensDiv = document.createElement('div');
                imagensDiv.classList.add('galeria-imagens', 'flex', 'flex-wrap', 'justify-center');
                galeriaContainer.appendChild(imagensDiv);

                const responseImagens = await fetch(`/api/galleryImages/${galeria.id}`);
                const images = await responseImagens.json();

                images.forEach(imageData => {
                    const imageElement = document.createElement('img');
                    imageElement.src = `data:image/png;base64,${imageData}`;
                    imageElement.classList.add('image-thumbnail');

                    imagensDiv.appendChild(imageElement);
                });

                galeriasDiv.appendChild(galeriaContainer);
            }
        }

        carregarGalerias();

        <!-- adiciona as listas na tela do usuario autenticado de forma assincrona-->

        document.addEventListener('DOMContentLoaded', function () {
            const modalGaleria = document.getElementById('modalGaleria');
            const btnAbrirModal = document.getElementById('btnCriarGaleria');
            const formularioCriarGaleria = document.getElementById('formularioCriarGaleria');
            const tituloGaleriaInput = document.getElementById('title');
            const galeriasDiv = document.getElementById('galerias');
            const galeriaDropdown = document.getElementById('galeriaDropdown');

            btnAbrirModal.addEventListener('click', function () {
                modalGaleria.style.display = 'block';
            });
            modalGaleria.addEventListener('click', function(event) {
                if (event.target === modalGaleria) {
                    modalGaleria.style.display = 'none';
                }
            });


            formularioCriarGaleria.addEventListener('submit', function (event) {
                event.preventDefault();

                const tituloGaleria = tituloGaleriaInput.value;

                fetch('/create-gallery', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ title: tituloGaleria }),
                })
                    .then(response => response.json())
                    .then(data => {

                        const galeriaElement = document.createElement('div');
                        galeriaElement.textContent = data.titulo;
                        galeriaElement.classList.add('gallery-title', 'text-lg', 'font-semibold', 'mb-2', 'text-center');
                        galeriasDiv.appendChild(galeriaElement);

                        const galeriaContainer = document.createElement('div');
                        galeriaContainer.classList.add('gallery-container', 'border', 'border-gray-500', 'p-4', 'rounded-lg', 'mb-4', 'flex', 'flex-col');
                        galeriaContainer.appendChild(galeriaElement);

                        galeriasDiv.appendChild(galeriaContainer);

                        tituloGaleriaInput.value = '';
                        modalGaleria.style.display = 'none';


                    })
                    .catch(error => {
                        console.error('Erro ao criar galeria:', error);
                    });
            });
        });

    </script>
</head>
<body>
<nav class=" navbar navbar a navbar a: hover navbar-brand navbar-links navbar-links a">
    <div class="max-w-7xl mx-auto flex items-center justify-between">
        <div class="flex items-center">
            <a href="#" class="navbar-brand text-lg font-semibold">Home Page</a>
        </div>
        <div class="navbar-links flex space-x-4">
            <a href="javascript:void(0);" onclick="showSection('galeria');" class="hover:text-gray-300">Galeria</a>
            <a href="javascript:void(0);" onclick="showSection('divisoes');" class="hover:text-gray-300">Divisões</a>
            <a href="javascript:void(0);" onclick="showSection('contato');" class="hover:text-gray-300">Contato</a>
        </div>
    </div>
</nav>
<div id="galeria" class="content-section hidden" >
    <div class="bg-gray-100 p-8">
        <button id="btnCadastrarFoto"
                class="mb-4 bg-white text-gray-550 border border-gray-500 px-4 py-2 rounded-md hover:bg-gray-350">Nova foto</button>
        <button id="btnCriarGaleria"
                class="mb-4 bg-white text-gray-550 border border-gray-500 px-4 py-2 rounded-md hover:bg-gray-350">Criar galeria</button>
        <div id="galerias" class="gallery-container"></div>
    </div>

    <div id="modalGaleria" class="fixed inset-0 flex items-center justify-center hidden">
        <div class="bg-white p-8 rounded-md shadow-lg">
            <form action="/create-gallery" method="post" id="formularioCriarGaleria">
                <div class="mb-4">
                    <h2 class="text-lg font-semibold mb-2">Criar Nova Galeria</h2>
                    <label for="title" class="block text-sm font-medium text-gray-700">Título da Galeria</label>
                    <input type="text" id="title" name="title" class="mt-1 p-2 w-full border rounded-md">
                </div>
                <div class="flex justify-end">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Criar Galeria</button>
                </div>
            </form>
        </div>
    </div>

    <div id="modal" class="fixed inset-0 flex items-center justify-center hidden">
        <div class="bg-white p-8 rounded-md shadow-lg">


            <form action="/register-Image" method="post" id="formularioCadastroFoto" enctype="multipart/form-data">
                <div class="mb-4">
                    <label for="identification" class="block text-sm font-medium text-gray-700">Identification</label>
                    <input type="text" id="identification" name="identification" class="mt-1 p-2 w-full border rounded-md">
                </div>
                <div class="mb-4">
                    <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                    <input type="text" id="description" name="description" class="mt-1 p-2 w-full border rounded-md">
                </div>
                <div class="mb-4">
                    <label for="galeriaDropdown" class="block text-sm font-medium text-gray-700">Selecione a galeria</label>
                    <select id="galeriaDropdown" name="galeriaId" class="mt-1 p-2 w-full border rounded-md"></select>
                </div>
                <div class="mb-4">
                    <label for="image" class="block text-sm font-medium text-gray-700">Image</label>
                    <input type="file" id="image" name="image" accept="image/*" class="mt-1">
                </div>
                <div class="flex justify-end">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Register</button>
                </div>
            </form>


        </div>
    </div>

    <div id="divisoes" class="content-section hidden">
    <div class="bg-gray-100 p-8">
        <h1 class="text-2xl font-semibold">Divisões</h1>
        <p>Conteúdo da seção Divisões.</p>
    </div>
</div>
<div id="contato" class="content-section hidden">
    <div class="bg-gray-100 p-8">
        <h1 class="text-2xl font-semibold">Contato</h1>
        <p>Conteúdo da seção Contato.</p>
    </div>
</div>
</div>
</body>
</html>
